.category_wrap {
  margin-left: 65px;
}

.category_wrap h2 {
  color: #f8f8f8;
  font-size: 30px;
}

.row_cards {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  height: 300px;
}

.row_cards::-webkit-scrollbar {
  display: none;
}

.view_all {
  margin: 53px 0 0 0;
  height: 170px;
  background-color: #002134;
  width: 200px;
  color: #d9dee2;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 0 40px;
}

.card_poster {
  position: relative;
  align-self: center;
  margin-right: 20px;
}

.card_title {
  position: relative;
  align-self: baseline;
  color: #f8f8f8;
}

.card_img {
  object-fit: contain;
  max-height: 200px;
  border: 3px solid rgba(255, 255, 255, 0);
  padding: 2px;
  transition: all 450ms;
}

.card_img:hover {
  transform: scale(1.08);
  border: 3px solid #005598;
}
